<?xml version="1.0"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <LastWindowSize>
    <Width>1259</Width>
    <Height>736</Height>
  </LastWindowSize>
  <UserAccessToken>EAAMJtodXBxABO0lvl3o7tZAdqtjIAhOJ7z2xQYuOZBkbNMxA0tm1z4QS8MWKr4dBOVQBZBgStq2MRw613bAMXbg8tF5JLkAbf4w3E5RosPVZAH3A1F7F9qlFpYYVbSwaSP7ZA556ZCb6FZCZAlMqZCk96FNYJc4pWp8MxPLEsBzVDgtb5ctLjeN82jOPvZAwZDZD</UserAccessToken>
  <RememberUser>true</RememberUser>
</Settings>